body {
  font-family: 'Radio Canada', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #3494E6, #0e4d85);
}

.titulo {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 85px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  text-align: center;
}

li {
  display: inline-block;
  margin: 5px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  transition: background-color 0.3s;
  display: block;
  width: fit-content;
  color: aliceblue;
  margin-left: 15px;
  margin-right: 15px;
}

a:hover {
  background-color: #dddddd86;
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
    0 0 20px #ffffff,
    0 0 50px #008cff,
    0 0 100px #008cff;
}

h1 {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
}

.container {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  border: 3px solid #ccc;
  border-radius: 45px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  color: #f2f2f2 ;
}

.container tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.container input[type="text"],
.container input[type="number"],
.container select,
.container input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  background-color: #3494E6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
margin-top: 20px;
}

.container2 {
    display: grid;
grid-template-columns: repeat(9, 1fr);
  }

  .cont3 {
    display: grid;
    grid-template-columns: 1fr;
  }

.title{
  font-size: larger;
  color: #fff;
}

  .oculto {
    display: none;
  }

  @media only screen and (max-width: 576px){
    body {
        margin: 13%;
        font-size: 33%;
    }

    input, select {
        height: 10%;
    }

    #search {
        width: 25%;
        height: 10px;
    }

    #search::placeholder {
        font-size: 5px;
    }

    #filters{
      display: grid;
     grid-template-columns: 1fr 1fr;
  }

  .checkbox-container{
    display: none;
  }

 .oculto {
    display: inline;
    overflow: hidden;
  }

p.oculto{
  color: #0c0c0c;
}

.info {
  display: none;
}
  
  .container2 {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr 1fr 1fr;
  }

  .cont3 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: medium;
  }
   }

   @media only screen and (max-width: 768px){
    body {
        margin: 13%;
        font-size: 33%;
    }

    input, select {
        height: 10%;
    }

    #search {
        width: 25%;
        height: 10px;
    }

    #search::placeholder {
        font-size: 5px;
    }
   }

#filters{
    display: grid;
   grid-template-columns: 1fr 1fr;
   margin-left: 2%;
}

   .cl-checkbox {
    position: relative;
    display: inline-block;
   }
   
   /* Input */
   .cl-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
   }
   
   /* Span */
   .cl-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #fff;
   }
   
   /* Box */
   .cl-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
   }
   
   /* Checkmark */
   .cl-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
   }
   
   /* Checked, Indeterminate */
   .cl-checkbox > input:checked,
   .cl-checkbox > input:indeterminate {
    background-color: #018786;
   }
   
   .cl-checkbox > input:checked + span::before,
   .cl-checkbox > input:indeterminate + span::before {
    border-color: #018786;
    background-color: #018786;
   }
   
   .cl-checkbox > input:checked + span::after,
   .cl-checkbox > input:indeterminate + span::after {
    border-color: #fff;
   }
   
   .cl-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
   }
   
   /* Hover, Focus */
   .cl-checkbox:hover > input {
    opacity: 0.04;
   }
   
   .cl-checkbox > input:focus {
    opacity: 0.12;
   }
   
   .cl-checkbox:hover > input:focus {
    opacity: 0.16;
   }
   
   /* Active */
   .cl-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-checkbox > input:active + span::before {
    border-color: #85b8b7;
   }
   
   .cl-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
   }
   
   /* Disabled */
   .cl-checkbox > input:disabled {
    opacity: 0;
   }
   
   .cl-checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
   }
   
   .cl-checkbox > input:disabled + span::before {
    border-color: currentColor;
   }
   
   .cl-checkbox > input:checked:disabled + span::before,
   .cl-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
   }
   

 .radio-buttons-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid #4c8bf5;
  color: #4c8bf5;
}

.radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 10px #4c8bf580;
}

.title p{
  text-align: center;
}

.container2 .title{
  text-align: center;
}